<h1>Show Page</h1>

<div class="card mt-3" style="width: 18rem;">
    <div class="card-header">
        <h5 class="card-title"> Title: <%= @session.title %> </h5>
    </div>
    <div class="card-body">
        <p> Host: <%= @session.user.full_name %></p>
        <p> Description: <%= @session.description %> </p>
    </div>
</div>

<div class="btn-toolbar mt-3">
    <% if current_user.id == @session.user_id %>
        <%= link_to('Edit', edit_session_path(@session), class: 'btn btn-warning me-2') %>
        <%= button_to('Delete', @session, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@session.title}' ?" } }) %>
    <% end %>
</div>